p {
  margin: 0px;
}

ul,
li {
  margin: 0px;
  list-style-type: none;
}

.js-pscroll {
  position: relative;
  overflow: hidden;
}

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-table100 {
  width: 100%;
  min-height: 100vh;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
}

.wrap-table100 {
  width: 100%;
}

.table100 {
  background-color: #fff;
}

table {
  width: 100%;
}

th,
td {
  /* font-weight: unset; */
  padding-right: 10px;
}

.column1 {
  width: 17%;
  padding-left: 40px;
}

.column2 {
  width: 13%;
}

.column3 {
  width: 22%;
}


.table100-head th {
  padding-top: 18px;
  padding-bottom: 18px;
}

.table100-body td {
  padding-top: 16px;
  padding-bottom: 16px;
}

.table100 {
  position: relative;
  padding-top: 60px;
}

.table100-head {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.table100-body {
  max-height: 585px;
  overflow: auto;
}

.table100.ver1 th {
  font-size: 18px;
  color: #fff;
  line-height: 1.4;

  background-color: #151d3b;
}

.table100.ver1 td {
  font-size: 15px;
  color: black;
  line-height: 1.4;
}

.table100.ver1 .table100-body tr:nth-child(even) {
  background-color: #f5f5f5;
}

.table100.ver1 {
  border-radius: 4px;
  overflow: hidden;
}