.login {
  height: 100vh;
  background-image: url("../assets/images/landingBackground.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

  /* width: 100%; */
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.form-inner {
    height: 100vh;
    width: 30%;
    min-width: 400px;
    background-color: white;
    float: right;
  }
  

.form-inner.log{
    margin-top: -15px;
    margin-right: -30px;
  }

.form-inner.reg{
    margin-top: -78px;
    margin-right: -30px;
  }
  