/* styling for nav bars in page content (not main nav bar) */

.sub.nav-tabs .sub.nav-item.show .nav-link, .sub.nav-tabs .nav-link.active {
    color: #6F7782;
    font-size: 13px;
    background-color: #fff !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

.sub.nav-tabs .nav-link:hover{
    font-size: 13px;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

.sub.nav-item.show {
    font-size: 13px;
    color:#6F7782  !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

.sub.nav-tabs .nav-link{
    font-size: 13px;
    color:#6F7782  !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

.sub.nav-tabs{
    font-size: 13px;
    color:#6F7782  !important;
    margin-bottom: 20px;
}

.sub.nav-tabs .nav-link.active {
    font-size: 13px;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 2px solid #E14561;
}
