#profTable table td {
  border: 1px solid #e9ecee;
}
#profTable th {
  font-weight: normal;
  border: 1px solid #e9ecee;
}
#profTable td {
  font-weight: 200;
  color: black;
  border: 1px solid #e9ecee;
}

#profTable th:first-child {
  border-left: none;
}
#profTable td:first-child {
  border-left: none;
}

#profTable th:nth-child(2) {
  border-left: none;
}
#profTable td:nth-child(2) {
  border-left: none;
}

#profTable th:last-child {
  border-right: none;
}
#profTable td:last-child {
  border-right: none;
}

#profTable .column0 {
  border: none;
}

th,
td {
  padding-left: 15px;
  padding-right: 15px;
}

.btn.btn-secondary {
  appearance: none;
  background: none;
  border: none;
  outline: none;
  color: red;
}

.mb-4.mt-2{
  color: green;
}

.courses {
  font-weight: 200;
  border: 1px solid #e9ecee;
}

/* padding for sysop add professor form */
.modal-content .row {
  padding: 10px;
}

/* padding for sysop add course form */
.modal-body .form-group {
  padding: 10px;
}