#profTable table td {
  border: 1px solid #e9ecee;
}
#profTable th {
  font-weight: normal;
  border: 1px solid #e9ecee;
}
#profTable td {
  font-weight: 200;
  color: black;
  border: 1px solid #e9ecee;
}
#profTable th:first-child {
  border-left: none;
}
#profTable td:first-child {
  border-left: none;
}
#profTable th:last-child {
  border-right: none;
}
#profTable td:last-child {
  border-right: none;
}

#profTable th:nth-last-child(2) {
  border-right: none;
}
#profTable td:nth-last-child(2) {
  border-right: none;
}

#profTable .column6 {
  border: none;
}
th, td {
  padding-left: 15px;
  padding-left: 15px;
}

.btn {
  background-color: black;
}