html,
body {
    background-image: url("../src/assets/images/landingBackground.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#root {
    height: 100%;
    width: 30%;
    min-width: 400px;
    background-color: white;
    float: right;
}